<div class="modal fade" tabindex="-1" aria-hidden="true" #modal>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="cancel()"></button>
      </div>
      <div class="modal-body pt-0">{{ body }}</div>
      <div class="modal-footer border-0">
        <button class="btn btn-ios" type="button" (click)="cancel()">Cancel</button>
        <button class="btn btn-ios-primary" type="button" (click)="confirm()">OK</button>
      </div>
    </div>
  </div>
</div>
